Python 3.10.2

In [19]:
import pandas as pd

# Bio/metadata file

In [63]:
# Read and clean GraphicBiosNew.xlsx

bioPath = "../Data/Goodreads_Comics_Data/GraphicBiosNew.xlsx"
bio = pd.read_excel(bioPath)
bio.head()

,NBM Publishing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Notes,Technical Info,NaN,NaN,Basic Information,NaN,NaN,Topics,NaN,NaN,...,NaN,NaN,NaN,Translation Info (If Applicable),NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,URL,ISBN,Goodreads ID,Title,Author(s)/Illustrators/Other Contributors (Edi...,Categorization,Subject(s),Gender,Career Type/Known For,...,Press,Imprint (i/A),Original Language,Original Title,Original Publication Date,Original Publisher,Original URL,Original ISBN,NaN,NaN
2,NaN,https://nbmpub.com/products/thoreau-a-sublime-...,9781681120256,27132988-thoreau,Thoreau: A Sublime Life,"Maximilien Le Roy, A. Dan",Biography,Henry David Thoreau,Male,"Philosopher, Naturalist",...,NBM Publishing,NaN,French,La Vie Sublime: Thoreau,2012,Le Lombard,https://www.lelombard.com/bd/vie-sublime-la/la...,9782803631001,English,25.0
3,NaN,https://nbmpub.com/products/the-rolling-stones...,9781681121987,41219524-the-rolling-stones-in-comics,The Rolling Stones in Comics,Ceka,Collective Biography,Rolling Stones,Male,Musicians,...,NBM Publishing,NaN,English,NaN,NaN,NaN,NaN,NaN,French,6.0
4,NaN,https://nbmpub.com/products/the-provocative-co...,9781681121703,36258390-the-provocative-colette,The Provocative Colette,"Annie Goetzinger, Rodolphe",Biography,Sidonie-Gabrielle Colette,Female,Author,...,NBM Publishing,NaN,French,Les apprentissages de Colette,2017,Dargaud,https://www.dargaud.com/bd/les-apprentissages-...,9782205072693,NaN,NaN

In [64]:
bioCleaned = bio.loc[:, 'Unnamed: 1':'Unnamed: 9']

In [65]:
bioCleaned = bioCleaned.drop(0).rename(columns=bioCleaned.iloc[1]).drop(1)

In [66]:
bioCleaned_na = bioCleaned[bioCleaned['Title'].isna()]
bioCleaned_na

,URL,ISBN,Goodreads ID,Title,"Author(s)/Illustrators/Other Contributors (Editors, Translators, Sources, etc.)",Categorization,Subject(s),Gender,Career Type/Known For
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
bioCleaned = bioCleaned.dropna(subset=['Title'])

In [68]:
bioCleaned = bioCleaned.reset_index(drop=True)

In [71]:
bioCleaned = bioCleaned[bioCleaned["URL"] != "Technical Info"]
bioCleaned = bioCleaned[bioCleaned["URL"] != "URL"]
bioCleaned

,URL,ISBN,Goodreads ID,Title,"Author(s)/Illustrators/Other Contributors (Editors, Translators, Sources, etc.)",Categorization,Subject(s),Gender,Career Type/Known For
0,https://nbmpub.com/products/thoreau-a-sublime-...,9781681120256,27132988-thoreau,Thoreau: A Sublime Life,"Maximilien Le Roy, A. Dan",Biography,Henry David Thoreau,Male,"Philosopher, Naturalist"
1,https://nbmpub.com/products/the-rolling-stones...,9781681121987,41219524-the-rolling-stones-in-comics,The Rolling Stones in Comics,Ceka,Collective Biography,Rolling Stones,Male,Musicians
2,https://nbmpub.com/products/the-provocative-co...,9781681121703,36258390-the-provocative-colette,The Provocative Colette,"Annie Goetzinger, Rodolphe",Biography,Sidonie-Gabrielle Colette,Female,Author
3,https://nbmpub.com/products/the-beatles-in-comics,9781681121888,NaN,The Beatles in Comics,Michels Mabel,Collective Biography,The Beatles,Male,Musicians
4,https://nbmpub.com/products/sartre,9781681121017,32713786-sartre,Sartre,"Mathilde Ramadier, AnaÃ¯s Depommier",Biography,Jean Paul Sartre,Male,Philosopher
...,...,...,...,...,...,...,...,...,...
246,https://shop.beehivebooks.com/products/artemisia,9781948886116,57455011-artemisia,Artemisia,"Nathalie Ferlut, Tamia Baudouin, Maelle Doliveux",Biography,Artemisia Gentileschi,Female,Artist
247,https://fantoons.tv/books/billie-holiday-the-g...,9781970047134,55554047-billie-holiday,Billie Holiday: The Graphic Novel: Women in Jazz,"Ebony Gilbert, Dacid Calcano, Keith Knight",Biography,Billy Holiday,Female,Musician
248,https://www.quartoknows.com/books/978071128842...,9780711288423,130006691-hockney,Hockney: A Graphic Life,Simon Elliott,Biography,David Hockney,Male,Artist
249,https://www.quartoknows.com/books/978071129078...,9780711290785,182761382-andy-warhol,Andy Warhol: A Graphic Biography,"Michele Botton, Marco Maraggi",Biography,Andy Warhol,Male,Artist
250,https://www.quartoknows.com/books/978071129076...,9780711290761,182761906-quentin-tarantino,Quentin Tarantino: A Graphic Biography,"Michele Botton, Bernardo Santiago Acosta",Biography,Quentin Tarantino,Male,Filmmaker

In [72]:
bioCleanedPath = "../Data/Goodreads_Comics_Data/GraphicBiosCleaned.csv"
bioCleaned.to_csv(bioCleanedPath, index=False)

# Clean and merge collected review files

In [20]:
# Read and clean scraped review data (Raw)
# Review(1)

reviewPath = "../Data/Web-Scraped_Data/Raw/AllReviews/MainDataset/CSV/AllReviews(1).csv"
review = pd.read_csv(reviewPath)

In [21]:
review.head()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
0,"Bowie: Stardust, Rayguns & Moonage Daydreams",Bivi Zyggy,38 reviews,NaN,9 followers,"June 2, 2022","<span aria-label=""Rating 5 out of 5"" role=""img...",Intenso y alucinante.,musica,NaN,NaN,1 like,"3.97\n1,431Â ratings262Â reviews",5 stars\n505 (35%)\n4 stars\n492 (34%)\n3 star...
1,"Bowie: Stardust, Rayguns & Moonage Daydreams",Christopher,263 reviews,NaN,1 follower,"March 7, 2020","<span aria-label=""Rating 5 out of 5"" role=""img...",My musical and artistic obsession as cooperati...,NaN,NaN,NaN,1 like,"3.97\n1,431Â ratings262Â reviews",5 stars\n505 (35%)\n4 stars\n492 (34%)\n3 star...
2,"Bowie: Stardust, Rayguns & Moonage Daydreams",Tina,"1,058 reviews",NaN,30 followers,"November 24, 2020","<span aria-label=""Rating 4 out of 5"" role=""img...",If anyone's story should be told graphically i...,2020,grahic-novels,memoirs-biographies,1 like,"3.97\n1,431Â ratings262Â reviews",5 stars\n505 (35%)\n4 stars\n492 (34%)\n3 star...
3,"Bowie: Stardust, Rayguns & Moonage Daydreams",Sarri,710 reviews,NaN,8 followers,"February 16, 2021","<span aria-label=""Rating 5 out of 5"" role=""img...","Kaikesta nÃ¤kee, ettÃ¤ tekijÃ¤t ovat aitoja Bowie...",aikuisten,comix-and-graphic-novels,five-stars,1 like,"3.97\n1,431Â ratings262Â reviews",5 stars\n505 (35%)\n4 stars\n492 (34%)\n3 star...
4,"Bowie: Stardust, Rayguns & Moonage Daydreams",George Taylor,297 reviews,NaN,7 followers,"May 19, 2023","<span aria-label=""Rating 4 out of 5"" role=""img...","Second time reading this, last time I didn't g...",NaN,NaN,NaN,1 like,"3.97\n1,431Â ratings262Â reviews",5 stars\n505 (35%)\n4 stars\n492 (34%)\n3 star...

In [22]:
review.describe()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
count,2606,2606,2606,217,2072,2606,2606,2606,1114,718,439,908,2606,2606
unique,26,2028,973,110,242,1795,11,2597,457,353,249,39,21,21
top,Hostage,Sarah,Author,16 followers,1 follower,"January 12, 2020","<span aria-label=""Rating 4 out of 5"" role=""img...",3.5,graphic-novels,graphic-novels,graphic-novels,1 like,"4.09\n7,756Â ratings893Â reviews","5 stars\n2,606 (33%)\n4 stars\n3,518 (45%)\n3 ..."
freq,509,26,219,10,232,10,1049,5,111,83,24,520,510,510

In [23]:
# review, old data

reviewOldPath = "../Data/Web-Scraped_Data/Raw/AllReviews/MainDataset/CSV/AllReviews.csv"
reviewOld = pd.read_csv(reviewOldPath)
reviewOld.describe()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
count,19000,19000,19000,1314,14724,19000,19000,18999,8116,5409,3643,7939,19000,19000
unique,152,9940,1871,252,565,4500,19,18799,2098,1664,1291,95,115,115
top,Andre the Giant: Life and Legend,Sarah,Author,31.7k followers,1 follower,"February 6, 2017","<span aria-label=""Rating 4 out of 5"" role=""img...",3.5,graphic-novels,graphic-novels,non-fiction,1 like,"3.92\n31,255Â ratings3,991Â reviews","5 stars\n8,936 (28%)\n4 stars\n13,371 (42%)\n3..."
freq,509,105,1323,58,1638,27,6736,45,738,553,255,3834,510,510

In [32]:
# Unique titles in review

uniqueTitlesReview = review['Title'].unique().tolist()
uniqueTitlesReview = [title.replace('\ufeff', '') for title in uniqueTitlesReview]

uniqueTitlesReview = list(set(uniqueTitlesReview))

print(uniqueTitlesReview)
print(len(uniqueTitlesReview))

['Prophet Against Slavery: Benjamin Lay', 'Eugene V. Debs: A Graphic Biography', 'Baddawi', "Tokyo Rose - Zero Hour: A Japanese American Woman's Persecution and Ultimate Redemption After World War II", 'Superzelda: The Graphic Life of Zelda Fitzgerald', 'Emma Dreams of Stars: Inside the Gourmet Guide', 'Audubon, on the Wings of the World', 'Bowie: Stardust, Rayguns & Moonage Daydreams', 'The Case of Alan Turing: The Extraordinary and Tragic Story of the Legendary Codebreaker', 'H. P. Lovecraft: He Who Wrote in the Darkness: A Graphic Novel', 'Guardian of Fukushima', 'Leon Trotsky: An Illustrated Introduction', 'The Incantations of Daniel Johnston', 'Rise of the Dungeon Master: Gary Gygax and the Creation of D&D', 'The Fifth Beatle: The Brian Epstein Story', 'Hendrix: Electric Requiem', 'Darwin: An Exceptional Voyage', 'Petrograd', 'Andy Warhol: A Graphic Biography', 'Artemisia', 'Hostage']
21

In [33]:
# Unique titles in reviewOld

uniqueTitlesReviewOld = reviewOld['Title'].unique().tolist()
uniqueTitlesReviewOld = [title.replace('\ufeff', '') for title in uniqueTitlesReviewOld]

uniqueTitlesReviewOld = list(set(uniqueTitlesReviewOld))

print(uniqueTitlesReviewOld)
print(len(uniqueTitlesReviewOld))

['Django, Hand On Fire: The Great Django Reinhardt', 'Joseph Smith and the Mormons: A Graphic Biography', "Washington's Gay General: The Legends and Loves of Baron von Steuben", 'All The Answers', 'Siberian Haiku', 'The Hypo: The Melancholic Young Lincoln', 'Thoreau: A Sublime Life', 'Magritte: This is Not a Biography', 'Sartre', "Lugosi: The Rise and Fall of Hollywood's Dracula", "Nobody's Fool: The Life and Times of Schlitzie the Pinhead", 'Did You Hear What Eddie Gein Done?', 'The Boxer: The True Story of Holocaust Survivor Harry Haft', 'Anne Frank: The Anne Frank House Authorized Graphic Biography', 'Trinity: A Graphic History of the First Atomic Bomb', 'Altitude', 'Josephine Baker', 'J. Edgar Hoover: A Graphic Biography', 'Glass Town: The Imaginary World of the BrontÃ«s', 'Agatha: The Real Life of Agatha Christie', 'Haddon Hall: When David Invented Bowie', 'Is This Guy For Real?: The Unbelievable Andy Kaufman', 'Nick Cave: Mercy on Me', 'Che: Une vie rÃ©volutionnaire', 'Zatopek', 'Grace: Based on the Jeff Buckley Story', 'The Incredible Nellie Bly: Journalist, Investigator, Feminist, and Philanthropist', "Alan's War: The Memories of G.I. Alan Cope", "Golden Boy: Beethoven's Youth", 'Billie Holiday', 'Accidental Czar: The Life and Lies of Vladimir Putin', 'Johnny Cash: I See a Darkness', 'Rosa Parks', 'Kiki de Montparnasse', 'Funny Things: A Comic Strip Biography of Charles M. Schulz', 'Verissimus: The Stoic Philosophy of Marcus Aurelius', 'GuantÃ¡namo Kid: The True Story of Mohammed El-Gharani', 'They Called Us Enemy', 'Degas & Cassatt: A Solitary Dance', 'Frida Kahlo: The Story of Her Life', 'Trotsky: A Graphic Biography', 'Castro', 'The Five Lives of Hilma af Klint', 'Bunuel in the Labyrinth of the Turtles', 'Leonard Cohen: On a Wire', 'My Friend Dahmer', 'Lon Chaney Speaks', 'Monet: Itinerant of Light', 'The Bridge: How the Roeblings Connected Brooklyn to New York', 'The Twilight Man: Rod Serling and the Birth of Television', 'The Life of Frederick Douglass: A Graphic Narrative of an Extraordinary Life', 'Gonzo', 'Musashi', 'The Adventures of HergÃ©', 'Alice Guy', 'Woody Guthrie and the Dust Bowl Ballads', 'Michael Jordan: Bull On Parade', 'Marie Antoinette, Phantom Queen', 'Munch: Art Masters Series', 'Johnny Appleseed', 'Woman Rebel: The Margaret Sanger Story', 'The Ladies-In-Waiting', 'March: Book Three', 'AnaÃ¯s Nin - Sur la mer des mensonges', 'Louis Riel: A Comic-Strip Biography', 'Now Let Me Fly: A Portrait of Eugene Bullard', 'Rembrandt: Art Masters Series', "We're All Just Fine", 'Federico: Vida de Federico GarcÃ­a Lorca', 'Phoolan Devi, Rebel Queen', 'Gauguin: The Other World', 'Ms Davis: A Graphic Biography', "Baby's in Black: The Story of Astrid Kirchherr & Stuart Sutcliffe", "Putin's Russia: The Rise of a Dictator", 'Three Rocks: The Story of Ernie Bushmiller: The Man Who Created Nancy', 'Life of Che: An Impressionistic Biography', 'The 14th Dalai Lama: A Manga Biography', 'Leonardo Da Vinci: The Renaissance of the World', 'We Are On Our Own: A Memoir', 'Philip K. Dick: A Comics Biography', 'Basquiat: Art Masters Series', 'Photographic: The Life of Graciela Iturbide', 'The Beats: A Graphic History', 'March: Book Two', 'Hedy Lamarr: An Incredible Life', 'I Know What I Am: The Life and Times of Artemisia Gentileschi', 'Flung Out of Space: Inspired by the Indecent Adventures of Patricia Highsmith', "Georgia O'Keeffe", 'Einstein', 'Vincent', 'Year of the Rabbit', 'Bowie: Stardust, Rayguns & Moonage Daydreams', 'Nat Turner', 'Feynman', 'An Olympic Dream: The Story of Samia Yusuf Omar', 'Jack Kirby: The Epic Life of the King of Comics', 'Alexander Hamilton: The Graphic History of an American Founding Father', 'For Justice: The Serge & Beate Klarsfeld Story', 'I, Rene Tardi, Prisoner Of War In Stalag IIB Vol. 1', 'Andre the Giant: Life and Legend', 'Love Me Please!: The Story of Janis Joplin', 'The Imitation Game: Alan Turing Decoded', 'Pablo', 'Becoming Andy Warhol', 'Malcolm X: A Graphic Biography', 'Glenn Gould: A Life Off Tempo', 'Bix', 'Orwell', 'Banksy: A Graphic Novel', "Chasin' the Bird: Charlie Parker in California", 'Andy: The Life and Times of Andy Warhol: A Factual Fairytale', 'I Am Stan: A Graphic Biography of the Legendary Stan Lee', 'Hawking', 'March: Book One', 'The Provocative Colette']
115

In [34]:
# if there are any common titles between review and reviewOld

commonTitles = list(set(uniqueTitlesReview) & set(uniqueTitlesReviewOld))
commonTitles

['Bowie: Stardust, Rayguns & Moonage Daydreams']

Thus, the AllReviews dataset (AllReviews and AllReviews(1)) contains the reviews of 135 graphic comics.

In [45]:
# Merge the two reveiw data

reviewMerged = pd.concat([review, reviewOld]).drop_duplicates().reset_index(drop=True)
reviewMerged["Title"] = reviewMerged["Title"].str.replace('\ufeff', '')
reviewMerged.describe()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
count,21606,21606,21606,1531,16796,21606,21606,21605,9230,6127,4082,8847,21606,21606
unique,135,10998,1915,272,589,4591,21,21371,2317,1854,1429,98,135,135
top,March: Book Two,Sarah,Author,31.7k followers,1 follower,"February 6, 2017","<span aria-label=""Rating 4 out of 5"" role=""img...",3.5,graphic-novels,graphic-novels,non-fiction,1 like,"4.49\n28,106Â ratings2,679Â reviews","5 stars\n17,773 (63%)\n4 stars\n7,681 (27%)\n3..."
freq,510,131,1542,65,1870,30,7785,50,849,636,275,4354,510,510

In [46]:
# drop duplicates

reviewMerged.drop_duplicates()
reviewMerged.describe()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
count,21606,21606,21606,1531,16796,21606,21606,21605,9230,6127,4082,8847,21606,21606
unique,135,10998,1915,272,589,4591,21,21371,2317,1854,1429,98,135,135
top,March: Book Two,Sarah,Author,31.7k followers,1 follower,"February 6, 2017","<span aria-label=""Rating 4 out of 5"" role=""img...",3.5,graphic-novels,graphic-novels,non-fiction,1 like,"4.49\n28,106Â ratings2,679Â reviews","5 stars\n17,773 (63%)\n4 stars\n7,681 (27%)\n3..."
freq,510,131,1542,65,1870,30,7785,50,849,636,275,4354,510,510

In [51]:
duplicated_indices = reviewMerged[reviewMerged.duplicated(subset=['Title', 'Review_Author', 'Review_Text'])].index
duplicated_indices

Index([2603, 2972, 11413, 18306], dtype='int64')

In [52]:
duplicated_df = reviewMerged.loc[duplicated_indices]
duplicated_df

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
2603,Andy Warhol: A Graphic Biography,Adelle,211 reviews,NaN,10 followers,"January 27, 2024","<span aria-label=""Rating 3 out of 5"" role=""img...","This was a good, informative graphic novel. I ...",NaN,NaN,NaN,NaN,3.69\n70Â ratings60Â reviews,5 stars\n6 (8%)\n4 stars\n42 (60%)\n3 stars\n1...
2972,Glenn Gould: A Life Off Tempo,Dov Zeller,Author,123 followers,2 books,"December 6, 2017","<span aria-label=""Rating 5 out of 5"" role=""img...","""When I started work on this biography of Goul...",biograpical,graphic-bio,graphics-comics,2 likes,3.85\n428Â ratings72Â reviews,5 stars\n103 (24%)\n4 stars\n188 (43%)\n3 star...
11413,I Am Stan: A Graphic Biography of the Legendar...,Jenn Marshall,833 reviews,NaN,22 followers,"December 30, 2023","<span aria-label=""Rating 3 out of 5"" role=""img...",Stan Lee is one of the comic gods. His history...,NaN,NaN,NaN,NaN,3.40\n251Â ratings86Â reviews,5 stars\n36 (14%)\n4 stars\n73 (29%)\n3 stars\...
18306,I Know What I Am: The Life and Times of Artemi...,Aida,140 reviews,NaN,1 follower,"January 8, 2020","<span aria-label=""Rating 5 out of 5"" role=""img...",This is a phenomenal piece of work. Siciliano ...,NaN,NaN,NaN,NaN,3.87\n515Â ratings134Â reviews,5 stars\n150 (29%)\n4 stars\n191 (37%)\n3 star...

In [54]:
reviewMerged = reviewMerged.drop(duplicated_indices)
reviewMerged.describe()

,Title,Review_Author,Account_Type,Author_Social_Stats,Social_Stats,Review_Date,Review_Star_Rating,Review_Text,Review_Tag_1,Review_Tag_2,Review_Tag_3,Review_Likes,Title_Rating,Title_Rating_Distribution
count,21602,21602,21602,1530,16792,21602,21602,21601,9229,6126,4081,8846,21602,21602
unique,135,10998,1915,272,589,4591,21,21371,2316,1854,1429,98,135,135
top,March: Book Two,Sarah,Author,31.7k followers,1 follower,"February 6, 2017","<span aria-label=""Rating 4 out of 5"" role=""img...",3.5,graphic-novels,graphic-novels,non-fiction,1 like,"4.49\n28,106Â ratings2,679Â reviews","5 stars\n17,773 (63%)\n4 stars\n7,681 (27%)\n3..."
freq,510,131,1541,65,1869,30,7785,50,849,636,275,4354,510,510

In [55]:
# save reviewMerged into a CSV file

reviewMergedPath = "../Data/Web-Scraped_Data/AllReviews_135_Unique.csv"
reviewMerged.to_csv(reviewMergedPath, index=False)

In [73]:
titlesCollected = reviewMerged['Title'].unique().tolist()
titlesCollected = [title.lower() for title in titlesCollected]

titlesInBio = bioCleaned['Title'].tolist()
titlesInBio = [title.lower() for title in titlesInBio]

titlesNotInBio = [title for title in titlesCollected if title not in titlesInBio]
len(titlesNotInBio)

43

In [74]:
print(*(title for title in titlesNotInBio), sep='\n')

bowie: stardust, rayguns & moonage daydreams
h. p. lovecraft: he who wrote in the darkness: a graphic novel
prophet against slavery: benjamin lay
tokyo rose - zero hour: a japanese american woman's persecution and ultimate redemption after world war ii
the fifth beatle: the brian epstein story
superzelda: the graphic life of zelda fitzgerald
sartre
phoolan devi, rebel queen
marie antoinette, phantom queen
leonardo da vinci: the renaissance of the world
degas & cassatt: a solitary dance
love me please!: the story of janis joplin
philip k. dick: a comics biography
alice guy
bunuel in the labyrinth of the turtles
gonzo
the boxer: the true story of holocaust survivor harry haft
basquiat: art masters series
gauguin: the other world
magritte: this is not a biography
munch: art masters series
pablo
rembrandt: art masters series
vincent
georgia o'keeffe
joseph smith and the mormons: a graphic biography
jack kirby: the epic life of the king of comics
the life of frederick douglass: a graphic narrative of an extraordinary life
federico: vida de federico garcÃ­a lorca
che: une vie rÃ©volutionnaire
musashi
trotsky: a graphic biography
j. edgar hoover: a graphic biography
grace: based on the jeff buckley story
is this guy for real?: the unbelievable andy kaufman
they called us enemy
ms davis: a graphic biography
anaÃ¯s nin - sur la mer des mensonges
the ladies-in-waiting
i, rene tardi, prisoner of war in stalag iib vol. 1
hedy lamarr: an incredible life
putin's russia: the rise of a dictator
chasin' the bird: charlie parker in california

Although the titles are not the same as in the GraphicBioCleaned.csv, mannual inspection shows that the books are all in GraphicBioCleaned.csv, only with different titles. 

Thus, the AllReviews_135_Unique.csv contains 135/229 graphic comics.